$light-color-c: #FBFBFB;

.o-main-wrapper {
  background: $light-color-c;

  padding: toRem(86) toRem(135);

  @media(max-width: $breakpoint-xl) {
    padding: toRem(35) toRem(22);
  }

  @media(min-width: $breakpoint-xl) {
    padding: toRem(35) toRem(22);
  }
}

.o-wrapper {
  width: 100%;
  margin: 0 auto;

  background: $light-color-c;

  @media(min-width: $breakpoint-xl) {
    max-width: 1200px;
  }

  @media(max-width: $breakpoint-s) {
    max-width: 768px;
  }

  @media(max-width: $breakpoint-xs) {
    max-width: 375px;
  }
}