.section-about {
  height: 100vh;
  width: 100%;

  height: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: toRem(30);

  @media(max-width: $breakpoint-l) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media(max-width: $breakpoint-xs) {
    grid-template-columns: 1fr;
    gap: toRem(18);
  }
}

.section-about__header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-top: $space-4;

  grid-column: span 2;

  @media(max-width: $breakpoint-l) {
    grid-column: span 1;
    justify-content: center;

    margin-top: 0;
  }

  @media(max-width: $breakpoint-s) {
    grid-column: span 2;
  }

  @media(max-width: $breakpoint-xs) {
    grid-column: span 1;
  }
}

.section-about__title {
  font-size: toRem(44);
  font-weight: 700;
  line-height: toRem(54);

  margin: 0 0 $space-x 0;

  @media(max-width: $breakpoint-l) {
    font-size: toRem(35);
  }
}

.section-about__description {
  font-size: toRem(18);
  font-weight: 400;;
  line-height: toRem(28);

  width: 80%;
  margin: 0;

  @media(max-width: $breakpoint-l) {
    font-size: toRem(16);
    width: 100%;
  }
}
